body{
	    background-image: linear-gradient(180deg, blue,white);
	    height: 100%;
	    font-size:35px;
	font-weight:500;
	color:white;
}
h1{
	text-shadow: 1px 1px 2px black, 0 0 25px white, 0 0 5px white;
}
#Gold{
	height:700px;
}
@media screen and (max-width: 760px) {
{
	.col{
		width:100%;
	}
}

#vide{
	width:400px;
}